body{
    margin: 0;
}

/*HEADER*/
header {
    background-color: rgba(29, 188, 228, 0.733);/*esercizio base*/

}

#logo{
    width: 200px;
    padding: 20px 10px;
}

/*MAIN*/

main{
    margin: 0 15px;/*esercizio base*/
    }

/*PROMEMORIA
    con il simbolo ">" prende solo il discendente diretto (figlio)
    solo con lo spazio prende il in considerazione tutti i discendenti (non solo figlio)
*/

#main-title span{
    color: rgb(7, 176, 255);
}

#main-title  p{
    color: rgb(175, 175, 175);
}

#description-photo p{
    font-style: italic;
    font-size: 13px;
    margin: 0;
}

#information span{
    background-color: yellow;
    color:black;
}

ul{
    padding-left: 20px;
}